template(name="home")
  .tile-group-1
    .tile.lime.branding-tile
      .tile-icon.icon-emo-happy
      img(src="/images/gera-white.png")
      .company-name THIEN BAN
      .slogan perfect inspiration
    .tile.blue.about-tile
      .canvas-wrapper.small: .canvas
        .caption About Thien Ban
    .tile
    .tile
  .tile-group-2
    .tile.quatro.cultural-tile
      .tile-icon.icon-location-1
    .tile
    .tile
    .tile.double
  .tile-group-1
    .tile
    .tile
    .tile
    .tile
  .home-sidebar sidebar!