template(name="home")
  .home-wrapper
    .tile-group-1
      .tile.lime.branding-tile
        .tile-icon.icon-emo-happy
        img(src="/images/gera-white.png")
        .company-name THIEN BAN
        .slogan perfect inspiration
      .tile.blue.about-tile
        .canvas-wrapper.small: .canvas
          .caption WHO WE ARE
      .tile.sun-flower
        .tile-simple-icon.icon-sun
        .tile-simple-caption Enterprise Solutions
        .tile-simple-description Analyze requirement & build software/system for enterprise.
      .tile.light-green
    .tile-group-2
      .tile.quatro.blue.cultural-tile
        .tile-icon.icon-location-1
        //.canvas-wrapper.small.dark-overlay: .canvas
          //.quote "You've got to start with the customer experience and work back toward the technology"
          //.quote "Innovation distinguishes between a leader and a follower" - Steve Job
      .tile.pink
        .tile-simple-icon.icon-gamepad
        .tile-simple-caption Game Studio
        .tile-simple-description Write/Outsource mobile games on iOs, Android, Windows Phone.
      .tile.amethyst
        .tile-simple-icon.icon-wrench-outline
        .tile-simple-caption Outsourcing
        .tile-simple-description Outsourcing software contract or part of a existed-system.
      .tile.double.gray

    .tile-group-2
      .tile.double.carrot
        .canvas-wrapper.small: .canvas
          .quote EDS, our revolutionary product which gonna change the retailer industry.
      .tile.double.peter-river.recruit-tile
        //.canvas-wrapper.small.dark-overlay: .canvas
        //  .quote We're gonna dig a black hole in the universal and we need talents, join our spaceship!
      .tile.pumpkin
        .tile-simple-icon.icon-moon
        .tile-simple-caption Design/Art
        .tile-simple-description Consult UI/UX design for digital systems.
      .tile.teal
        .tile-simple-icon.icon-flow-cross
        .tile-simple-caption Open Source
        .tile-simple-description As a part of the community, we share our knowledge, engine.
      .tile.double.dark-gray.contact-tile
        .bottom-part
          .phone.icon.icon-phone-circled 0838 <b>111</b> 766 or 0978 <b>188</b> 119.
          .address.icon.icon-location-1 109 Cong Hoa, Ward 12, Tan Binh Dist, HCMC.