@require '../../wings.import.styl'

.home-wrapper
  overflow hidden
  border-radius 4px

.home-sidebar
  float right
  width (app-width / 5)

.branding-tile
  img
    display block
    margin 30px auto 0 auto
  .company-name
    text-align center
    font-size 35px; font-weight lighter
  .slogan
    text-align center
    font-weight lighter
    margin-top -10px

.about-tile
  background-image url("images/slogan2.jpg")
  background-size cover

.cultural-tile
  background-image url("images/cultural2.jpg")
  background-size cover

.contact-tile
  .bottom-part
    font-size 13px
    absolute left 5px bottom 5px