template(name="navigation")
  nav.fixed-top
    .wrapper
      .branding THIEN BAN
      .navigation.right
        ul
          li nav 1
          li nav 2
          li nav 3
          li nav 4
          li nav 5